@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.dash-dropdown {
    text-align: center;
    font-size: 14px;
}

.dash-graph {
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
    padding: 20px;
}

.dash-table {
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
    padding: 20px;
}

.dash-table thead th {
    padding: 20px;
}

.dash-graph .xtick, .dash-graph .ytick {
    padding: 20px;
}

.dash-interval {
    display: none;
}
